@charset "UTF-8";

/* blockquote */
blockquote {
  background-color: #e2e3e5;
  border-left: 5px solid #d6d8db;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote > p {
  margin-bottom: 0rem;
}

/* sidebar */
.blog-sidebar {
  background-color: #f9f9f9;
}

/* banner */
.blog-banner {
  color: #fff;
  background: linear-gradient(
    #f9b294 0%,
    #f9b294 52%,
    #f17280 52%,
    #f17280 68%,
    #c06c86 68%,
    #c06c86 84%,
    #6d5c7e 84%,
    #6d5c7e 100%
  ); 
}

.blog-banner > * > * > a {
  color: #fff;
}

/* dark mode */ 
@media (prefers-color-scheme: dark) {
  body {
    color: rgb(217, 215, 206);
    background-color: rgb(33, 39, 51);;
  }

  a {
    color: rgb(255, 204, 102);
  }
  a:hover {
    color: rgb(255, 204, 102);
  }
  .blog-banner > * > * > a {
    color: #fff;
  }

  blockquote {
    background-color: rgb(26, 31, 40);
    border-left: 5px solid rgb(20, 23, 30);
  }

  .blog-sidebar {
    background-color: rgb(26, 31, 40);
  }
}