@charset "UTF-8";

/* blockquote */
blockquote {
  background-color: #e2e3e5;
  border-left: 5px solid #d6d8db;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote > p {
  margin-bottom: 0rem;
}

/* banner */
.blog-banner {
  text-align: center;
  color: #fff;
  background: linear-gradient(
    #f9b294 0%,
    #f9b294 52%,
    #f17280 52%,
    #f17280 68%,
    #c06c86 68%,
    #c06c86 84%,
    #6d5c7e 84%,
    #6d5c7e 100%
  ); 
}
.blog-banner > * > a {
  color: #fff;
}

/* sidebar */
.blog-sidebar {
  background-color: #f0f0f0;
}
@media (min-width: 992px) {
  .blog-sidebar {
    /* sticky when on desktop */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    /* hide scrollbar */
    scrollbar-width: none;
  }
  .blog-sidebar::-webkit-scrollbar {
    /* hide scrollbar */
    display: none;
  }
}

/* dark mode */ 
@media (prefers-color-scheme: dark) {
  body {
    color: #d9d7ce;
    background-color: #212733;
  }

  blockquote {
    background-color: #1a1f28;
    border-left: 5px solid #14171e;
  }

  a {
    color: #ffcc66;
  }
  a:hover {
    color: #ffcc66;
  }

  .blog-banner > p {
    color: #fff;
  }
  .blog-banner > * > a {
    color: #fff;
  }

  .blog-sidebar {
    background-color: #1a1f28;
  }
}