@charset "UTF-8";

html, body, .row, .col-md-3, .col-md-8 {
    height: 100%;
    overflow-x: hidden;
}

.blog-side {
    overflow-y: hidden;
    background-image: url('../img/bg.png');
    background-size: cover;
    background-position: center;
}
