<html lang="en">

<head>
  <!-- metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="<!-- $author -->">
  <meta name="description" content="<!-- $description -->">
  <title><!-- $author --></title>

  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="./assets/img/favicon.ico">

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="./assets/css/bundle.css" />
</head>

<body>
  <div class="container-fluid min-vh-100 d-flex flex-column">
    <div class="row flex-grow-1">
      <!-- right side -->
      <aside class="col-md-3 blog-sidebar">
        <!-- banner -->
        <div class="blog-banner container-fluid py-5">
          <h1 class="fw-bold"><a href="./index.html"><!-- $author --></a></h1>
          <p class="fs-4"><!-- $banner --></p>
        </div>

        <div class="p-5">
        <h4>About</h4>
        <p><!-- $about --></p>

        <h4>Links</h4>
        <ul>
          <!-- $links -->
        </ul>
        </div>
      </aside>

      <!-- left side -->
      <main class="col-md-9 p-5">
        <article class="blog-content"></article>
      </main>
    </div>
  </div>
</body>

</html>