<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="<!-- $author -->">
  <meta name="description" content="<!-- $description -->">
  <title><!-- $author --></title>
  <link rel="icon" type="image/jpeg" href="./assets/img/favicon.jpg">
  <link rel="stylesheet" type="text/css" href="./assets/css/bundle.css" />
</head>

<body>
  <header class="p-5 blog-banner">
    <div class="container-fluid py-5">
      <h1 class="fw-bold"><a href="./index.html"><!-- $banner-header --></a></h1>
      <p class="fs-4"><!-- $banner-text --></p>
    </div>
  </header>

  <div class="container-fluid d-flex flex-column">
    <div class="row flex-grow-1">
      <main class="col-lg-9 p-5">
        <article>
          <!-- $article -->
        </article>
      </main>

      <aside class="col-lg-3 blog-sidebar">
        <div class="p-5">
          <h4>About</h4>
          <!-- $about -->

          <h4>Links</h4>
          <ul>
            <!-- $links -->
          </ul>
        </div>
      </aside>
    </div>
  </div>
</body>

</html>