@charset "UTF-8";

/* blockquote */
blockquote {
  color: #555555;
  background-color: #e2e3e5;
  border-left-color: #d6d8db;
}

/* content */
body {
  background-color: #fff;
}

.blog-content {
  color: #212529;
}

/* sidebar */
.blog-sidebar {
  color: #212529;
  background-color: #f9f9f9;
}

/* banner */
.blog-banner {
  color: #fff;
  background: linear-gradient(
    #f9b294 0%,
    #f9b294 52%,
    #f17280 52%,
    #f17280 68%,
    #c06c86 68%,
    #c06c86 84%,
    #6d5c7e 84%,
    #6d5c7e 100%
  ); 
}

.blog-banner > * > * > a {
  color: #fff;
  text-decoration: none;
}
