@charset "UTF-8";

/* image */
img {
    max-width: 100%;
}

/* blockquote */
.blog-blockquote {
    font-size: 1rem;
    background-color: #e9ecef;
}

/* sidebar */
.blog-sidebar {
    background-color: #fbf3da;
}

/* banner */
.blog-banner {
    color: #fff;
    background: linear-gradient(
        rgba(249,178,148,1) 0%,
        rgba(249,178,148,1) 52%,
        rgba(241,114,128,1) 52%,
        rgba(241,114,128,1) 68%,
        rgba(192,108,134,1) 68%,
        rgba(192,108,134,1) 84%,
        rgba(109,92,126,1)  84%,
        rgba(109,92,126,1)  100%
    ); 
}

.blog-banner > * > * > a {
    color: #fff;
    text-decoration: none;
}
